<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />

    <security>
      <requestFiltering>
        <!-- Allow large uploads (up to ~2GB) -->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>

    <!-- Reverse proxy all requests to Django running on 127.0.0.1:8010 -->
    <rewrite>
      <rules>
        <rule name="DjangoReverseProxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8011/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>