{% extends "registration/password_reset_layout.html" %}
{% block page_title %}Password updated | MailPilot{% endblock %}
{% block extra_head %}
<meta http-equiv="refresh" content="2;url={{ login_url }}">
<script>
  setTimeout(function(){ window.location.href = "{{ login_url }}"; }, 1200);
</script>
{% endblock %}
{% block body %}
<div class="form-header">
  <h1 class="form-title">Password <span>updated</span></h1>
  <p class="form-sub">Your password has been changed. Redirecting you to sign in…</p>
</div>
<div class="bottom-link">
  <a href="{{ login_url }}">Sign in to MailPilot</a>
</div>
{% endblock %}
