{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | MailPilot Admin{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  {% include "components/favicon.html" %}
  <link rel="stylesheet" href="{% static 'admin/mailpilot_admin.css' %}">
{% endblock %}

{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}" class="mp-brand">
      <img src="{% static 'img/mailpilot-logo.png' %}" alt="" class="mp-brand-logo" width="28" height="28" decoding="async" />
      <span class="mp-text">MailPilot</span>
      <span class="mp-sub">Admin</span>
    </a>
  </div>
{% endblock %}

{% block nav-global %}{% endblock %}

