{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | MailPilot Admin{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/mailpilot_admin.css' %}">
{% endblock %}

{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}" class="mp-brand">
      <span class="mp-dot" aria-hidden="true"></span>
      <span class="mp-text">MailPilot</span>
      <span class="mp-sub">Admin</span>
    </a>
  </div>
{% endblock %}

{% block nav-global %}{% endblock %}

